apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets-sa
  namespace: e-commerce
  annotations:
    eks.amazonaws.com/role-arn: "<terraform output external_secrets_role_arn 값으로 교체>"